@keyframes moveLeft {
    0% {
      transform: translateX(-100vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(100vw);
    }
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  /* Apply the animations */
  .animate-left {
    animation: moveLeft 2s ease-out forwards;
  }
  
  .animate-right {
    animation: moveRight 2s ease-out forwards;
  }
  
  .animate-fade-in {
    animation: fadeIn 3s ease-in-out forwards;
    animation-delay: 1s;
  }
  
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  

  